@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 2vh;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  transition: 0.6s;
}

.banner {
  position: relative;
  height: 0vh;
}

:root {
  --main-color: #ffffff;
  --secondary-color: #0b2539;
}

section {
  padding: 5%;
  scroll-snap-align: start;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h2 {
  font-size: 2.5rem;
  line-height: 125%;
}

h3 {
  font-size: 1.25rem;
  line-height: 125%;
  max-width: 100%;
  padding: 3vh;
  text-align: justify;
  background: rgba(88, 88, 88, 0.2);
  box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
  -webkit-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
  -moz-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
}

h4 {
  font-size: 1rem;
  font-weight: 300;
  padding: 3vh;
  color: black;
}

.two {
  min-height: 100vh;
  max-width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.ctas {
  margin-top: 1rem;
}

.ctas button {
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem margin 1rem;
  text-decoration: none;
}

.cta-main {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.cta-main a {
  text-decoration: none;
  color: var(--secondary-color);
}

.cta-sec {
  background-color: var(--secondary-color);
  color: white;
}

.cta-sec a {
  text-decoration: none;
  color: white;
}

.hero {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* The container <div> - needed to position the dropdown content */

.dropbtntwo {
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  background: rgba(11, 37, 57, 0.9);
  color: white;
  transition: 0.6s;
}

/* The container <div> - needed to position the dropdown content */

.dropdowntwo {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

/* Links inside the dropdown */

.dropdown-contenttwo a {
  color: white;
  padding: 9px 15px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-contenttwo a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu on hover */

.dropdowntwo .dropdown-contenttwo {
  display: block;
  color: black;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdowntwo:hover .dropbtntwo {
  background-color: white;
  color: rgb(66, 66, 66);
}

@media only screen and (min-device-width: 1000px) {
  .show-on-mobile {
    display: none;
  }
  header {
    position: fixed;
    top: 3.5vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 2000;
  }
  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li {
    position: relative;
    list-style: none;
  }
  header ul li a {
    position: relative;
    margin: 0 2vh;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    transition: 0.6s;
  }
  .container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0);
  }
  .selling-point {
    margin-top: 35%;
  }
  .selling-pointtwo {
    margin-top: 5%;
    text-align: left;
  }
  .dropdown-contenttwo {
    display: none;
    position: absolute;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: rgba(11, 37, 57, 0.5);
  }
  .logo {
    display: grid;
    position: fixed;
    top: 2vh;
    left: 10vh;
    z-index: 2000;
  }
  .logo img {
    max-width: 50%;
  }
  .lang {
    display: grid;
    position: fixed;
    color: white;
    text-decoration: none;
    top: 3.5vh;
    right: 3.5vh;
    z-index: 2000;
  }
  .front-page {
    min-height: 100vh;
    max-width: 100vh;
    color: white;
  }
  footer {
    display: grid;
    place-items: center;
    height: 1.5vh;
    left: 50%;
    margin-top: 49.8vh;
    /* Footer height */
  }
}

/* Mobile */

@media only screen and (max-device-width: 1000px) {
  .show-on-desktop {
    display: none;
  }
  header {
    position: absolute;
    top: 2vh;
    left: 2vh;
    font-size: 1rem;
    z-index: 2000;
  }
  .logo {
    display: grid;
    position: absolute;
    top: 2vh;
    right: 2vh;
    z-index: 2000;
  }
  .logo img {
    width: 7vh;
  }
  .front-page {
    margin-left: 0vh;
    min-height: 100vh;
    max-width: 100vh;
    color: white;
  }
  .container {
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0);
  }
  .selling-point {
    margin-top: 70%;
  }
  .selling-pointtwo {
    margin-top: 5%;
    text-align: left;
  }
  .dropdown-contenttwo {
    display: none;
    position: absolute;
    min-width: 230%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: rgba(11, 37, 57, 0.5);
  }
  .dropbtn-mobile {
    background-color: none;
    color: #0b2539;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: grid;
    place-items: center;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown-mobile {
    position: relative;
    display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content-mobile {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  /* Links inside the dropdown */
  .dropdown-content-mobile a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content-mobile a:hover {
    background-color: #ddd;
    color: #0b2539;
  }
  /* Show the dropdown menu on hover */
  .dropdown-mobile:hover .dropdown-content-mobile {
    display: block;
  }
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown-mobile:hover .dropbtn-mobile {
    background-color: #0b2539;
    color: white;
  }
}
