@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

section .container .contactinfo .info {
  position: relative;
  margin: 20px 0;
}

section .container .contactinfo .info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

section .container .contactinfo .info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

section .container .contactinfo .info li img {
  filter: invert(1);
  opacity: 0.5;
  max-width: 100%;
}

section .container .contactinfo .info li span:nth-child(2) {
  color: white;
  margin-left: 10px;
  font-weight: 300;
  opacity: 0.5;
}

section .container .contactinfo .info li:hover span:nth-child(2),
section .container .contactinfo .info li:hover span:nth-child(1) img {
  opacity: 1;
}

section .container .contactinfo .sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container .contactinfo .sci li {
  list-style: none;
  margin: 1vh;
}

section .container .contactinfo .sci li a {
  text-decoration: none;
}

section .container .contactinfo .sci li a img {
  filter: invert(1);
  opacity: 0.5;
  max-width: 80%;
}

section .container .contactinfo .sci li:hover a img {
  opacity: 1;
}

section .container .contactform .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

section .container .contactform .inputBox.w100 {
  width: 100%;
}

section .container .contactform .inputBox textarea {
  min-height: 120px;
}

section .container .contactform .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.5s;
  pointer-events: none;
}

section .container .contactform .inputBox input:focus ~ span,
section .container .contactform .inputBox textarea:focus ~ span,
section .container .contactform .inputBox input:valid ~ span,
section .container .contactform .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #0f3959;
}

section .container .contactform .inputBox input[type="submit"]:hover {
  background: #0f3959;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  background: none;
  color: black;
  transition: 0.6s;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 109px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
  color: black;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

header .logo {
  position: relative;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
  font-size: large;
  text-transform: uppercase;
  transition: 0.6s;
  margin: 0px 100px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  transition: 0.6s;
}

@media only screen and (min-device-width: 1000px) {
  .show-on-mobile {
    display: none;
  }
  header {
    position: fixed;
    top: 3vh;
    width: 100%;
    left: 0vh;
    display: grid;
    place-items: center;
    transition: 0.6s;
    z-index: 2000;
  }
  section .container .contactform .inputBox.w50 {
    width: 47%;
  }
  section .container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    top: 15vh;
  }
  section .container .contactform {
    position: absolute;
    padding: 70px 50px;
    background: white;
    margin-left: 150px;
    padding-left: 250px;
    height: 100%;
    width: calc(100%-150px);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  }
  .logo {
    display: grid;
    position: fixed;
    top: 2vh;
    left: 10vh;
    z-index: 2000;
  }
  .logo img {
    max-width: 50%;
  }
  .lang {
    display: grid;
    position: fixed;
    top: 3.5vh;
    right: 3.5vh;
    z-index: 2000;
  }
  .lang img {
    max-width: 50%;
  }
  .front-page {
    min-height: 100vh;
    max-width: 15%;
    color: white;
  }
  .contactform h5 {
    opacity: 0.1;
    margin-left: 50%;
    margin-top: -2vh;
  }

  section .container .contactinfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100%-80px);
    background: #0f3959;
    z-index: 1;
    page-break-after: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  }
  section .container .contactform .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  section .container .contactform h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
  }
  section .container .contactinfo h2 {
    color: white;
    font-size: 24px;
    font-weight: 500;
  }
  section .container .contactform .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background-color: #0f3959;
    color: white;
    border: none;
    max-width: 150px;
    padding: 12px;
  }
  section .container .contactform .inputBox input,
  section .container .contactform .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
  }
}
/* Mobil */
@media only screen and (max-device-width: 1000px) {
  .show-on-desktop {
    display: none;
  }
  .lang {
    display: grid;
    place-items: center;
    margin-bottom: -1vh;
  }
  .lang img {
    max-width: 25%;
  }
  header {
    position: fixed;
    top: 2vh;

    left: 2vh;
    display: grid;
    place-items: center;
    transition: 0.6s;
    z-index: 2000;
  }

  section .container {
    position: relative;

    display: flex;
    flex-direction: column;
    z-index: 1000;
    top: 15vh;
  }
  section .container .contactform {
    position: relative;
    background: white;
    flex-direction: column;
    display: grid;
    place-items: center;
    padding: 2vh;
    height: 100%;
    margin-top: -25vh;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  }
  section .container .contactform h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
    margin-top: 25vh;
  }

  .front-page {
    min-height: 100vh;
    width: 100%;
    color: white;
  }
  .contactform h5 {
    opacity: 0.1;
    display: grid;
    place-items: center;
    margin-bottom: 3vh;
  }

  section .container .contactinfo {
    position: flex;
    height: 100%;
    margin: 2vh;
    background: #0f3959;
    z-index: 1;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  }
  section .container .contactform .formBox {
    display: grid;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5vh;
  }
  .logo {
    display: grid;
    position: fixed;
    top: 2vh;
    right: 2vh;
    z-index: 2000;
  }

  .logo img {
    width: 7vh;
  }
  section .container .contactinfo h2 {
    display: grid;
    place-items: center;
    color: white;
    font-size: 24px;
    font-weight: 500;
  }
  section .container .contactform .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background-color: #0f3959;
    color: white;
    border: none;
    max-width: 100%;
    padding: 12px;
  }
  section .container .contactform .inputBox input {
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;

    outline: none;
  }
  section .container .contactform .inputBox textarea {
    width: 100%;

    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;

    outline: none;
  }
  .dropbtn-mobile {
    background-color: none;
    color: #0b2539;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: grid;
    place-items: center;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown-mobile {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content-mobile {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content-mobile a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content-mobile a:hover {
    background-color: #ddd;
    color: #0b2539;
  }

  /* Show the dropdown menu on hover */
  .dropdown-mobile:hover .dropdown-content-mobile {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown-mobile:hover .dropbtn-mobile {
    background-color: #0b2539;
    color: white;
  }
  section .container .contactform .inputBox.w50 {
    width: 100%;
  }
}
