@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

:root {
    --main-color: #ffffff;
    --secondary-color: #1b1b1b;
}

section {
    padding: 5%;
    height: 100%;
}

h2 {
    font-size: 2.5rem;
    line-height: 125%;
}

h3 {
    font-size: 1.25rem;
    line-height: 125%;
    max-width: 100%;
    padding: 3vh;
    text-align: justify;
    background: rgba(88, 88, 88, 0.2);
    box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
    -webkit-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
    -moz-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
}

h4 {
    font-size: 1.25rem;
    line-height: 125%;
}

.selling-point {
    margin-top: 5%;
    margin-left: 4%;
    text-align: left;
}

.hero {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 50%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}


/* Dropdown Button */

.dropbtn {
    padding: 1.5% 2vh;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    background: none;
    color: white;
    transition: 0.6s;
}

.dropbtn-title {
    padding: 7% 6vh;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    background: none;
    color: white;
    transition: 0.6s;
}

.dropdown:hover .dropbtn-title {
    background-color: #ffffff;
    color: black;
}

.dropbtn-title:hover {
    background-color: #ffffff;
    color: black;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
    background: rgba(11, 37, 57, 0.8);
}


/* Dropdown Content (Hidden by Default) */

.faaliyetdropdown-content ul {
    margin-bottom: 2vh;
}

.tab {
    margin-left: 30px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: white;
    padding: 4vh 6vh;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
    color: rgb(11, 37, 57);
}


/* Show the dropdown menu on hover */

.dropdown .dropdown-content {
    display: block;
    color: black;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.kurumdropdown {
    position: relative;
    display: inline-block;
}


/* kurumdropdown Content (Hidden by Default) */

.kurumdropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the kurumdropdown */

.kurumdropdown-content a {
    color: white;
    padding: 5vh 6vh;
    text-decoration: none;
    display: block;
}


/* Change color of kurumdropdown links on hover */

.kurumdropdown-content a:hover {
    background-color: #ddd;
    color: black;
}


/* Show the kurumdropdown menu on hover */

.kurumdropdown:hover .kurumdropdown-content {
    display: block;
    color: black;
}


/* Change the background color of the kurumdropdown button when the kurumdropdown content is shown */

.kurumdropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

.dropbtn:hover {
    background-color: white;
    color: black;
}

.faaliyetdropdown-content ul {
    font-size: 1rem;
    font-weight: 350;
    color: #e2e2e2;
}

.faaliyetdropdown-content ul li {
    margin-left: 4vh;
}

.faaliyetdropdown-content ul h4 {
    font-size: 1.25rem;
    line-height: 125%;
    color: #ffffff;
}

.faaliyetdropdown-content h5 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1vh;
}

@media only screen and (min-device-width: 1000px) {
    .show-on-mobile {
        display: none;
    }
    header {
        position: fixed;
        top: 3.5vh;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        z-index: 2000;
    }
    header ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header ul li {
        position: relative;
        list-style: none;
    }
    header ul li a {
        position: relative;
        margin: 0 2vh;
        text-decoration: none;
        color: #ffffff;
        font-weight: 400;
        transition: 0.6s;
    }
    .logo {
        display: grid;
        position: absolute;
        top: 2vh;
        left: 10vh;
        z-index: 2000;
    }
    .logo img {
        width: 5.5vh;
    }
    .front-page {
        min-height: 100vh;
        max-width: 100vh;
        color: white;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 65vh;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        background: rgba(11, 37, 57, 0.6);
        box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
        -webkit-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
        -moz-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
        z-index: 1;
    }
    .faaliyetdropdown-content {
        display: none;
        padding: 4vh;
        margin-left: 100%;
        color: black;
        position: absolute;
        text-align: justify;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        background-color: #0b2539;
        color: white;
        box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
        -webkit-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
        -moz-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
        z-index: 1;
    }
    .dropbtn:hover .faaliyetdropdown-content {
        display: block;
        top: 0%;
        left: 0%;
        width: 170%;
        height: 100%;
    }
}


/* Mobile */

@media only screen and (max-device-width: 1000px) {
    .show-on-desktop {
        display: none;
    }
    header {
        position: absolute;
        top: 2vh;
        left: 2vh;
        font-size: 1rem;
        z-index: 2000;
    }
    .logo {
        display: grid;
        position: absolute;
        top: 2vh;
        right: 2vh;
        z-index: 2000;
    }
    .logo img {
        width: 7vh;
    }
    .front-page {
        margin-top: 15%;
        margin-left: -2vh;
        min-height: 100vh;
        max-width: 100vh;
        color: white;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 175%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        background: rgba(11, 37, 57, 0.6);
        box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
        -webkit-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
        -moz-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
        z-index: 1;
    }
    .faaliyetdropdown-content {
        display: none;
        padding: 2vh;
        color: black;
        position: absolute;
        text-align: justify;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        background-color: #0b2539;
        color: white;
        box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
        -webkit-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
        -moz-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
        z-index: 1;
    }
    .dropbtn:hover .faaliyetdropdown-content {
        display: block;
        top: 0%;
        left: 0%;
        width: 100%;
    }
    .dropbtn-mobile {
        background-color: none;
        color: #0b2539;
        padding: 16px;
        font-size: 16px;
        border: none;
    }
    /* The container <div> - needed to position the dropdown content */
    .dropdown-mobile {
        position: relative;
        display: inline-block;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content-mobile {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    /* Links inside the dropdown */
    .dropdown-content-mobile a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    /* Change color of dropdown links on hover */
    .dropdown-content-mobile a:hover,
    .dropdown-content-mobile a:active {
        background-color: #ddd;
    }
    /* Show the dropdown menu on hover , .dropdown-mobile a:active */
    .dropdown-mobile:hover .dropdown-content-mobile,
    .dropdown-mobile:active .dropdown-content-mobile {
        display: block;
    }
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown-mobile:hover .dropbtn-mobile,
    .dropdown-mobile:active .dropbtn-mobile {
        background-color: #0b2539;
        color: white;
    }
}