@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 2vh;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  transition: 0.6s;
}

.banner {
  position: relative;
  height: 0vh;
}

:root {
  --main-color: #ffffff;
  --secondary-color: #1b1b1b;
}

h2 {
  font-size: 2rem;
  line-height: 115%;
}

h3 {
  font-size: 1.25rem;
  line-height: 125%;
  max-width: 100%;
  padding: 3vh;
  text-align: justify;
  background: rgba(88, 88, 88, 0.2);
  box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
  -webkit-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
  -moz-box-shadow: 0px 0px 57px 15px rgba(35, 35, 35, 0.35);
}

h4 {
  font-size: 1rem;
  font-weight: 300;
  padding: 3vh;
  color: black;
}

.hero {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.front-page .baslik h2 {
  color: white;
  font-size: 3rem;
}

.front-page .content h2 {
  color: white;
}

.front-page .content ul h2 {
  color: #0f3959;
}

.front-page h6 {
  position: fixed;
  display: grid;
  place-items: center;
  bottom: 2vh;
  right: 2vh;
  color: white;
  background-color: #0b2539;
  padding: 1vh;
  z-index: 3000;
}

.tab {
  margin-left: 30px;
}

@media only screen and (min-device-width: 1000px) {
  .show-on-mobile {
    display: none;
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 2000;
    background-color: #0b2539;
    padding: 3.5vh;
  }
  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li {
    position: relative;
    list-style: none;
  }
  header ul li a {
    position: relative;
    margin: 0 2vh;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    transition: 0.6s;
  }
  .front-page .content ul {
    width: 70%;
    height: 100%;
    margin-top: 3vh;
  }
  .front-page {
    display: grid;
  }
  .front-page .content {
    background-color: rgba(255, 255, 255);
    display: grid;
    place-items: center;
    z-index: 100;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .front-page .baslik {
    display: grid;
    place-items: center;
    padding: 6vh;
    margin-bottom: -5vh;
  }
  .container {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0);
  }
  .selling-point {
    margin-top: 35%;
  }
  .selling-pointtwo {
    margin-top: 5%;
    text-align: left;
  }
  .dropdown-contenttwo {
    display: none;
    position: absolute;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: rgba(11, 37, 57, 0.5);
  }
  .logo {
    display: grid;
    position: fixed;
    top: 2vh;
    left: 10vh;
    z-index: 2001;
  }
  .logo img {
    max-width: 50%;
  }
  .lang {
    display: grid;
    position: fixed;
    color: white;
    text-decoration: none;
    top: 3.5vh;
    right: 3.5vh;
    z-index: 2000;
  }
  .front-page {
    display: grid;
    margin-top: 10.5vh;
  }

  .front-page .content ul h5 {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
  }
  .ekip {
    padding: 3%;
    background-color: #0b2539;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 100;
  }
  .ekip p {
    width: 50vw;
    margin-top: 2vh;
    color: rgb(214, 214, 214);
    text-align: justify;
  }
  .ekip ul {
    margin-top: 2vh;
    color: white;
    font-size: x-large;
    font-weight: 500;
  }
}

/* Mobile */

@media only screen and (max-device-width: 1000px) {
  .show-on-desktop {
    display: none;
  }
  header {
    position: absolute;
    top: 2vh;
    left: 2vh;
    font-size: 1rem;
    z-index: 2000;
  }
  .logo {
    display: grid;
    position: fixed;
    top: 2vh;
    right: 2vh;
    z-index: 1;
  }
  .logo img {
    width: 7vh;
  }
  .container {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0);
  }
  .front-page {
    display: grid;
  }
  .front-page .content ul {
    width: 90%;
    height: 100%;
    margin-top: 3vh;
  }
  .front-page .content ul h5 {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
  }
  .front-page .content {
    background-color: rgba(255, 255, 255);
    display: grid;
    place-items: center;
    z-index: 100;
  }
  .front-page .baslik {
    display: grid;
    place-items: center;
    padding: 3%;
    margin-top: 10vh;
  }
  .dropbtn-mobile {
    background-color: none;
    color: #0b2539;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: grid;
    place-items: center;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown-mobile {
    position: relative;
    display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content-mobile {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  /* Links inside the dropdown */
  .dropdown-content-mobile a {
    color: #0b2539;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content-mobile a:hover,
  .dropdown-content-mobile a:active {
    background-color: #ddd;
    color: #0b2539;
  }
  /* Show the dropdown menu on hover , .dropdown-mobile a:active */
  .dropdown-mobile:hover .dropdown-content-mobile,
  .dropdown-mobile:active .dropdown-content-mobile {
    display: block;
  }
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown-mobile:hover .dropbtn-mobile,
  .dropdown-mobile:active .dropbtn-mobile {
    background-color: #0b2539;
    color: white;
  }
  .indicator {
    margin-top: 8vh;
    height: 1.5vh;
    background-color: #0b2539;
    width: 60%;
  }
  .ekip {
    background-color: #0b2539;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 100;
  }
  .ekip p {
    width: 90%;
    color: rgb(214, 214, 214);
    text-align: justify;
    padding-bottom: 3vh;
  }
  .ekip ul {
    color: white;
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 1.5vh;
  }
}
